body {
  margin: 0;
  padding: 0;
}

.app {
  background-color: #76e3ef; /* Color de fondo del contenedor principal */
  padding: 20px; /* Relleno interno */
  font-family: "Roboto", sans-serif; /* Fuente de texto */
  transition: background-color 0.3s ease; /* Transición suave del color de fondo */
  color: #2c1d6e; /* Color de texto */
}

.dark-mode .app {
  background-color: #2c1d6e; /* Color de fondo en modo oscuro */
  color: #fffbfb; /* Color de texto en modo oscuro */
}

.container {
  max-width: 700px; /* Ancho máximo del contenedor */
  margin: 0 auto; /* Margen automático para centrar horizontalmente */
}

h1 {
  text-align: left; /* Alineación del texto a la izquierda */
  margin: 41px; /* Márgenes */
  text-align: left; /* Alineación del texto a la izquierda */
  font-family: Arial Black; /* Fuente de texto */
  font-weight: bold; /* Grosor de la fuente */
  font-size: 25px; /* Tamaño de la fuente */
  text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa,
    0 5px 0 #acacac, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15); /* Efecto de sombra del texto */
}

form {
  display: flex; /* Mostrar como flexbox */
  justify-content: center; /* Centrar horizontalmente */
  margin-bottom: 20px; /* Margen inferior */
}

input[type="text"] {
  padding: 10px; /* Relleno interno */
  font-size: 16px; /* Tamaño de la fuente */
  width: 300px; /* Ancho del campo de texto */
  border: none; /* Sin borde */
  border-radius: 4px; /* Radio del borde */
  margin-right: 10px; /* Margen derecho */
}

button[type="submit"] {
  padding: 10px 20px; /* Relleno interno */
  background-color: #007bff; /* Color de fondo */
  color: #fff; /* Color de texto */
  border: none; /* Sin borde */
  border-radius: 4px; /* Radio del borde */
  cursor: pointer; /* Cambiar el cursor al pasar por encima */
  font-size: 16px; /* Tamaño de la fuente */
}

button[type="submit"]:hover {
  background-color: #0056b3; /* Color de fondo al pasar el cursor por encima */
}

h2 {
  text-align: auto; /* Alineación automática del texto */
  margin: 10px; /* Márgenes */
  font-size: 23px; /* Tamaño de la fuente */
  margin-top: 10%; /* Margen superior */
}

.card {
  background-color: #a9e0f3; /* Color de fondo */
  border-radius: 4px; /* Radio del borde */
  padding: 20px; /* Relleno interno */
  margin-bottom: 20px; /* Margen inferior */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra de la tarjeta */
  margin: 4rem; /* Márgenes */
  border-radius: 0 100% 0 5%; /* Radio del borde */
  -webkit-border-radius: 0 100% 0 5%; /* Radio del borde (para navegadores webkit) */
  -moz-border-radius: 0 100% 0 5%; /* Radio del borde (para navegadores Mozilla) */
  -ms-border-radius: 0 100% 0 5%; /* Radio del borde (para navegadores Microsoft) */
  -o-border-radius: 0 100% 0 5%; /* Radio del borde (para navegadores Opera) */
  position: relative; /* Posición relativa */
}

.card img {
  position: absolute; /* Posición absoluta */
  margin: 10px; /* Márgenes */
  width: 110px; /* Ancho de la imagen */
  height: 110px; /* Altura de la imagen */
  top: 5px; /* Posición superior */
  right: 30px; /* Posición derecha */
}

.dark-mode .card {
  background-color: #4739a0; /* Color de fondo en modo oscuro */
  color: #fff; /* Color de texto en modo oscuro */
  margin: 4rem; /* Márgenes */
}

.card h3 {
  font-size: 20px; /* Tamaño de la fuente */
  margin-bottom: 10px; /* Margen inferior */
  margin: 10px; /* Márgenes */
}

.card p {
  margin-bottom: 5px; /* Margen inferior */
}

.switch {
  background-color: #007bff; /* Color de fondo */
  color: #fff; /* Color de texto */
  border: none; /* Sin borde */
  border-radius: 5px; /* Radio del borde */
  cursor: pointer; /* Cambiar el cursor al pasar por encima */
  font-size: 14px; /* Tamaño de la fuente */
  display: block; /* Mostrar como bloque */
  padding: 0.5rem 1rem; /* Relleno interno */
  width: 150px; /* Ancho del interruptor */
  margin: 0 auto; /* Margen automático para centrar horizontalmente */
  -webkit-border-radius: 5px; /* Radio del borde (para navegadores webkit) */
  -moz-border-radius: 5px; /* Radio del borde (para navegadores Mozilla) */
  -ms-border-radius: 5px; /* Radio del borde (para navegadores Microsoft) */
  -o-border-radius: 5px; /* Radio del borde (para navegadores Opera) */
}

.switch:hover {
  background-color: #0056b3; /* Color de fondo al pasar el cursor por encima */
}

.dark-mode .switch {
  background-color: #0056b3; /* Color de fondo en modo oscuro */
}

.dark-mode-toggle {
  position: fixed; /* Posición fija */
  top: 20px; /* Posición superior */
  right: 20px; /* Posición derecha */
  padding: 5px 10px; /* Relleno interno */
  background-color: #007bff; /* Color de fondo */
  color: #fff; /* Color de texto */
  border: none; /* Sin borde */
  border-radius: 4px; /* Radio del borde */
  cursor: pointer; /* Cambiar el cursor al pasar por encima */
  font-size: 14px; /* Tamaño de la fuente */
}

.dark-mode-toggle:hover {
  background-color: #0056b3; /* Color de fondo al pasar el cursor por encima */
}

.louder {
  display: flex; /* Mostrar como flexbox */
  align-items: center; /* Alinear verticalmente al centro */
  justify-content: center; /* Alinear horizontalmente al centro */
  height: 26rem; /* Altura */
}

.lds-hourglass {
  display: inline-block; /* Mostrar como bloque en línea */
  position: relative; /* Posición relativa */
  width: 80px; /* Ancho */
  height: 300px; /* Altura */
}

.lds-hourglass:after {
  content: " "; /* Contenido vacío */
  display: block; /* Mostrar como bloque */
  border-radius: 50%; /* Radio del borde */
  width: 0; /* Ancho 0 */
  height: 0; /* Altura 0 */
  margin: 8px; /* Márgenes */
  box-sizing: border-box; /* Caja de borde */
  border: 32px solid #000; /* Borde */
  border-color: #000 transparent #000 transparent; /* Colores del borde */
  animation: lds-hourglass 1.2s infinite; /* Animación de la ampulosa */
}

/* Estilos para la lista de sugerencias */
.suggestions-list {
  list-style-type: none; /* Sin viñetas */
  margin: 0; /* Margen */
  padding: 0; /* Relleno */
  background-color: #fff; /* Color de fondo */
  border: 1px solid #ccc; /* Borde */
  border-radius: 4px; /* Radio del borde */
  position: absolute; /* Posición absoluta */
  max-height: 150px; /* Altura máxima */
  overflow-y: auto; /* Desbordamiento vertical */
  z-index: 1; /* Capa z-index */
}

.suggestions-list-item {
  padding: 8px 12px; /* Relleno interno */
  cursor: pointer; /* Cambiar el cursor al pasar por encima */
}

.suggestions-list-item:hover {
  background-color: #f2f2f2; /* Color de fondo al pasar el cursor por encima */
}

@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

@media screen and (max-width: 600px) {
  /* Estilos para pantallas con un ancho máximo de 600px */
  h1 {
    margin: 10px 10px 15px 2%; /* Márgenes */
  }
  .container {
    margin: 0 20px; /* Márgenes */
  }
  input[type="text"] {
    width: 100%; /* Ancho completo */
  }
  button[type="submit"] {
    width: 100%; /* Ancho completo */
  }
  .card {
    margin: 2rem; /* Márgenes */
  }
  .card img {
    position: absolute; /* Posición absoluta */
    top: -20px; /* Posición superior */
    right: -50px; /* Posición derecha */
  }
  .switch-container {
    position: initial; /* Posición inicial */
    top: initial; /* Posición superior inicial */
    right: initial; /* Posición derecha inicial */
    margin-top: 10px; /* Margen superior */
    text-align: center; /* Alineación del texto al centro */
  }
}
