/* Estilos para el cuerpo del documento */
body {
  margin: 0; /* Margen exterior */
  padding: 0; /* Relleno interno */
}

/* Estilos para el contenedor principal de la aplicación */
.app {
  background-color: #76e3ef; /* Color de fondo */
  padding: 20px; /* Relleno interno */
  font-family: "Roboto", sans-serif; /* Familia de fuentes */
  transition: background-color 0.3s ease; /* Transición de color de fondo */
  color: #2c1d6e; /* Color de texto */
}

/* Estilos para el contenedor principal de la aplicación en modo oscuro */
.dark-mode .app {
  background-color: #2c1d6e; /* Color de fondo en modo oscuro */
  color: #fffbfb; /* Color de texto en modo oscuro */
}

/* Estilos para el contenedor principal de contenido */
.container {
  max-width: 700px; /* Ancho máximo */
  margin: 0 auto; /* Margen automático para centrar horizontalmente */
}

/* Estilos para los encabezados de nivel 1 */
h1 {
  text-align: left; /* Alineación del texto a la izquierda */
  margin: 41px; /* Márgenes */
  text-align: left; /* Alineación del texto a la izquierda */
  font-family: Arial Black; /* Familia de fuentes */
  font-weight: bold; /* Peso de la fuente */
  font-size: 25px; /* Tamaño de la fuente */
  text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa,
    0 5px 0 #acacac, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15); /* Efecto de sombra del texto */
}

/* Estilos para los formularios */
form {
  display: flex; /* Mostrar como flexbox */
  justify-content: center; /* Centrar horizontalmente */
  margin-bottom: 20px; /* Margen inferior */
}

/* Estilos para los campos de texto */
input[type="text"] {
  padding: 10px; /* Relleno interno */
  font-size: 16px; /* Tamaño de la fuente */
  width: 300px; /* Ancho del campo de texto */
  border: none; /* Sin borde */
  border-radius: 4px; /* Radio del borde */
  margin-right: 10px; /* Margen derecho */
}

/* Estilos para los botones de envío */
button[type="submit"] {
  padding: 10px 20px; /* Relleno interno */
  background-color: #007bff; /* Color de fondo */
  color: #fff; /* Color de texto */
  border: none; /* Sin borde */
  border-radius: 4px; /* Radio del borde */
  cursor: pointer; /* Cursor */
  font-size: 16px; /* Tamaño de la fuente */
}

/* Estilos para los botones de envío al pasar el cursor por encima */
button[type="submit"]:hover {
  background-color: #0056b3; /* Color de fondo al pasar el cursor por encima */
}

/* Estilos para los encabezados de nivel 2 */
h2 {
  text-align: auto; /* Alineación automática del texto */
  margin: 10px; /* Márgenes */
  font-size: 23px; /* Tamaño de la fuente */
  margin-top: 10%; /* Margen superior */
}

/* Estilos para las tarjetas */
.card {
  background-color: #a9e0f3; /* Color de fondo */
  border-radius: 4px; /* Radio del borde */
  padding: 20px; /* Relleno interno */
  margin-bottom: 20px; /* Margen inferior */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra de la tarjeta */
  margin: 4rem; /* Márgenes */
  border-radius: 0 100% 0 5%; /* Radio del borde */
  -webkit-border-radius: 0 100% 0 5%; /* Radio del borde (para navegadores webkit) */
  -moz-border-radius: 0 100% 0 5%; /* Radio del borde (para navegadores Mozilla) */
  -ms-border-radius: 0 100% 0 5%; /* Radio del borde (para navegadores Microsoft) */
  -o-border-radius: 0 100% 0 5%; /* Radio del borde (para navegadores Opera) */
  position: relative; /* Posición relativa */
}

/* Estilos para las imágenes dentro de las tarjetas */
.card img {
  position: absolute; /* Posición absoluta */
  margin: 10px; /* Márgenes */
  width: 140px; /* Ancho de la imagen */
  height: 140px; /* Altura de la imagen */
  top: -30px; /* Posición superior */
  right: -10px; /* Posición derecha */
}

/* Estilos para las tarjetas en modo oscuro */
.dark-mode .card {
  background-color: #4739a0; /* Color de fondo en modo oscuro */
  color: #fff; /* Color de texto en modo oscuro */
  margin: 4rem; /* Márgenes */
}

/* Estilos para los encabezados de las tarjetas */
.card h3 {
  font-size: 20px; /* Tamaño de la fuente */
  margin-bottom: 10px; /* Margen inferior */
  margin: 10px; /* Márgenes */
}

/* Estilos para los párrafos dentro de las tarjetas */
.card p {
  margin-bottom: 5px; /* Margen inferior */
}

/* Estilos para el interruptor */
.switch {
  background-color: #007bff; /* Color de fondo */
  color: #fff; /* Color de texto */
  border: none; /* Sin borde */
  border-radius: 5px; /* Radio del borde */
  cursor: pointer; /* Cursor */
  font-size: 14px; /* Tamaño de la fuente */
  display: block; /* Mostrar como bloque */
  padding: 0.5rem 1rem; /* Relleno interno */
  width: 150px; /* Ancho del interruptor */
  margin: 0 auto; /* Margen automático para centrar horizontalmente */
  -webkit-border-radius: 5px; /* Radio del borde (para navegadores webkit) */
  -moz-border-radius: 5px; /* Radio del borde (para navegadores Mozilla) */
  -ms-border-radius: 5px; /* Radio del borde (para navegadores Microsoft) */
  -o-border-radius: 5px; /* Radio del borde (para navegadores Opera) */
}

/* Estilos para el interruptor al pasar el cursor por encima */
.switch:hover {
  background-color: #0056b3; /* Color de fondo al pasar el cursor por encima */
}

/* Estilos para el interruptor en modo oscuro */
.dark-mode .switch {
  background-color: #0056b3; /* Color de fondo en modo oscuro */
}

/* Estilos para el botón de alternar el modo oscuro */
.dark-mode-toggle {
  position: fixed; /* Posición fija */
  top: 20px; /* Posición superior */
  right: 20px; /* Posición derecha */
  padding: 5px 10px; /* Relleno interno */
  background-color: #007bff; /* Color de fondo */
  color: #fff; /* Color de texto */
  border: none; /* Sin borde */
  border-radius: 4px; /* Radio del borde */
  cursor: pointer; /* Cursor */
  font-size: 14px; /* Tamaño de la fuente */
}

/* Estilos para el botón de alternar el modo oscuro al pasar el cursor por encima */
.dark-mode-toggle:hover {
  background-color: #0056b3; /* Color de fondo al pasar el cursor por encima */
}

/* Estilos para el contenedor de carga */
.louder {
  display: flex; /* Mostrar como flexbox */
  align-items: center; /* Alinear verticalmente */
  justify-content: center; /* Centrar horizontalmente */
  height: 100vh; /* Altura del contenedor */
}

/* Estilos para el indicador de carga */
.lds-hourglass {
  display: inline-block; /* Mostrar como elemento en línea */
  position: relative; /* Posición relativa */
  width: 80px; /* Ancho */
  height: 80px; /* Altura */
}

/* Estilos para el indicador de carga después */
.lds-hourglass:after {
  content: " "; /* Contenido vacío */
  display: block; /* Mostrar como bloque */
  border-radius: 50%; /* Radio del borde */
  width: 0; /* Ancho inicial */
  height: 0; /* Altura inicial */
  margin: 8px; /* Márgenes */
  box-sizing: border-box; /* Modelo de caja */
  border: 32px solid #000; /* Borde */
  border-color: #000 transparent #000 transparent; /* Colores del borde */
  animation: lds-hourglass 1.2s infinite; /* Animación del indicador de carga */
}

/* Animación del indicador de carga */
@keyframes lds-hourglass {
   0% {
    transform: rotate(0); /* Rotación inicial */
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); /* Función de temporización de la animación */
  }
  50% {
    transform: rotate(900deg); /* Rotación a la mitad de la animación */
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); /* Función de temporización de la animación */
  }
  100% {
    transform: rotate(1800deg); /* Rotación final */
  }
}
@media screen and (max-width: 600px) {
  h1 {
    margin: 10px 10px 15px 2%; /* Ajuste de margen superior, inferior e izquierdo */
  }
  .container {
    margin: 0 20px; /* Ajuste de margen izquierdo y derecho */
  }
  input[type="text"] {
    width: 100%; /* Ancho al 100% */
  }
  button[type="submit"] {
    width: 100%; /* Ancho al 100% */
  }
  .card {
    margin: 2rem; /* Ajuste de margen */
  }
  .card img {
    position: relative; /* Posición relativa */
    top: initial; /* Posición superior inicial */
    right: initial; /* Posición derecha inicial */
    margin: 10px auto; /* Ajuste de margen */
    display: block; /* Mostrar como bloque */
  }
  .switch-container {
    position: initial; /* Posición inicial */
    top: initial; /* Posición superior inicial */
    right: initial; /* Posición derecha inicial */
    margin-top: 10px; /* Ajuste de margen superior */
    text-align: center; /* Alineación centrada */
  }
}
